.letters-table {
  background: #ffffff;
  margin: auto;
}

.letters-container {
  margin-bottom: 20px;
}

@media screen and (min-width: 450px) {
  .letters-table {
    max-width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .letters-table {
    max-width: 45%;
  }
}